[submodule "Alacritty/.config/alacritty/catppuccin"]
	path = Alacritty/.config/alacritty/catppuccin
	url = https://github.com/catppuccin/alacritty.git
[submodule "Neovim/.config/nvim/java-debug"]
	path = Neovim/.config/nvim/java-debug
	url = https://github.com/microsoft/java-debug.git
